$factory-orange: #FF8500;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  margin: 1em;
}


/* reset for html5-specific elements */
section, article, aside, header, footer, nav, dialog, figure {
  display: block; 
}

html, body {
  height: 100%;
}

body {
  background: url(/images/bg-4.jpg) fixed center center;
  font-family: helvetica;
}

a {
  color: $factory-orange;
  font-weight: bolder;
  text-decoration: none;
}

header {
  width: 100%;
  height: 117px;
  background: url(/images/bg-header.png) repeat-x;
  margin-bottom: 5.2em;

  & > section {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  $radius: 10px;
  $opacity-filter: 75;
  $opacity: $opacity-filter / 100; // 65 => 0.65
 
  width: 100%;
  margin-top: 2em;
  background-color: #fdfdfd;  
  overflow: auto;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  bottom: 0;

  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;

  filter:alpha(opacity=$opacity-filter);
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;


  & > section {
    width: 46em;
    margin-left: auto;
    margin-right: auto;

    & > span {
      display: inline-block;
      width: 15em;
      text-align: center;
      vertical-align: middle;
    }
  }

  & a {
    color: $factory-orange;
    font-size: 0.8em;
    font-weight: lighter;
  }
}

#header_logo {
  float: left;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 194px;
}

#slogan-image {
  display: block;
  height: 53px;
  width: 455px;
  float: left;
  position: relative;
  top: 10px;
  margin-bottom: 20px;  
  margin-right: 2em;

  :after {
    clear: both;
  }
}

#menu {
  display: inline-block;
  float: left;
}

#menu > a {
  $bg: url(/images/sprite.png) no-repeat;

  float: left;
  margin: 0 5px;
  height: 35px;
  width: 123px;
  cursor: pointer;

  &.menu_education {
    background: $bg;
    background-position: 0 -280px;
  }

  &.menu_research {
    background: $bg;
    background-position: -124px -280px;
  }

  &.menu_entrepreneurship {
    width: 182px;
    background: $bg;
    background-position: -250px -280px;
  }

  & > a {
    visibility: hidden;
  }
}

#contact-link {
  display: block;
  float: right;
  width: 88px;
  height: 18px;
  background: url(/images/sprite.png) no-repeat -449px -41px;
  margin-right: .3em;
}


#main-wrapper {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100%;
  margin-top: -6px;
}

#main-content {
  overflow: auto;
  margin-bottom: 1em;
}

.box {
  $radius: 10px;
  $opacity-filter: 85;
  $opacity: $opacity-filter / 100; // 85 => 0.85

  width: 100%;
  color: #383838;
  background-color: white;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;

  padding: 1em 0em;
  margin-bottom: 1em;


  filter:alpha(opacity=$opacity-filter);
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;

  & > section{
    margin: 0em 1em;
  }

  & > section > hgroup {
    text-align: center;
    margin-bottom: 0.5em;
    color: black;

    & a {
      text-decoration: inherit;
      color: inherit;
    }

    & > h1 {
      font-size: 2em;
      margin-bottom: 1.5em;
    }

    & > h2 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }

    & > h3 {
      font-size: 1.0em;
      margin-bottom: 0.5em;
    }
  }

  & ul {
    list-style-type: none;
  }
}

#left-column {
  display: block;
  float: left;
  width: 35em;
  margin-left: 1em;

  & > img {
    margin-top: -1em;
    margin-bottom: 1em;
  }
}

#right-column {
  float: right;
  width: 20em;
  margin-right: 1em;
}


#magazine-list {
  list-style-type: none;

  & > li {
    width: auto;
    padding-right: 50px;
    height: 70px;
    background: url(/images/magazine-cover-1.png) no-repeat top right;
    vertical-align: middle;
    display: table;

    & > a {
      font-size: 27px;
      text-decoration: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#experiences {
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border: #FF8500 2px dotted; 
  & > section, & li {
    margin-top: 1.5em;
    font-size: 90%;
  }
}

article.intro > section {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.3em;
  text-align: justify;
  overflow: auto;
}

.intro_person-left {
  float: left;
  margin-top: 0.4em;
  width: 16em;
  text-align: left;

  & > img {
    margin: 0.2em;
  } 

}

.intro_person-right {
  float: right;
  margin-top: 0.4em;
  width: 16em;
  text-align: right;

  & > img {
    margin: 0.2em;
  }
}

.dropcap {
  float: left;
  width: .9em;
  font-size: 4em;
  line-height: 83%;
  text-align: center;
}

.emphasis {
  font-weight: bolder;
}

#entrepreneurship_past-projects-box {
  list-style-type: none;
}

.multi-column {
  float: left;
  width: 260px;
  margin: 0 1em;
}

.clear {
  clear: both
}

#projects_detail-box {
  width: auto;
  margin: 1em;
  display: none;
}

.main_aspects {
  float: left; 
  text-align: center;
  margin-bottom: 1em;
  & > a {
    font-size: 3em;
  }

  
}

#main_edu-link {
  margin-top: 2em;
}

#main_res-link {
  margin-top: 2em;
  float: right;
}

#main_ent-link {
  width: 100%;
  text-align: center;
}

#aspects-box {

  & > section > hgroup {
    & > h1 {
      margin-bottom: 0em;
    }
  }

  &:after {
    clear: both;
    display: block;
    height: 0;
    content: ".";
    visibility: hidden;
  }
}

.main_slogan {
  margin-top: -11px;
  font-style: italic;
}

article.project-desc > section {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.3em;
  text-align: justify;

  & > img {
    margin: 0 0 1em 1em;
  }
 
}

#magazines-box {
  margin-top: -5px;
  min-height: 50em;

  & > section > a > img {
    margin: 0 1em 1em 0;
  }

  & > section > article > ul {
    list-style-type: disc;
    float: right;

    & > li {
      margin-top: 0.5em;
      font-size: 0.8em;
      width: 32em;
    }
  }

}

#contact-box {

  &:after {
    clear: both;
    display: block;
    height: 0;
    content: ".";
    visibility: hidden;
  }

  & > section > form {
    margin-left: auto;
    margin-right: auto;
    width: 35em;

    & > label {
      width: 7em;
      text-align: right;
      float: left;
    }

    & > input, & > textarea {
      width: 27em;
      margin-left: 1em;
      float: left;
      margin-bottom: 1em;
    }

    & > textarea {
      width: 30em;
      height: 10em;
    }

    & > input[type="submit"] {
      width: 6em;
      margin-left: 9.5em;
    }
  }
}

#education_bubble {
  position: relative;
  top: 0;
  left: 15em;
}

#education_research {
  position: relative;
}

#entrepreneurship_bubble {
  position: relative;
  left: 35em;
  top: -3.5em;
}

#contact_info {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  text-align: center;
}

#contact_people {
  width: 52.8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: left;

}

.contact_person {
  width: 22em;
  height: 58px;
  float: left;
  font-size: 0.8em;
  margin-bottom: 1em;

  & > img {
    margin-right: 0.3em;
    float: left;
  }
}

.contact_person-name {
  font-size: 1.2em;
}

.error {
  font-weight: bold;
  color: red;
  width: 20em;
  margin: 1em auto 1em auto;
  text-align: center;
}

.notice {
  font-weight: bold;
  color: green;
  width: 20em;
  margin: 1em auto 1em auto;
  text-align: center;
}

#vision-box {
  margin: 0 1em;
}

#vision-pic {
  display: block; 
  margin: 0 auto 0 auto;
}

#main_vision-box {
  text-align: center;

  & > img {
    display: block;
    margin: 0 auto 1em auto;
  }
}

#main_intro-box > section {
  overflow: auto;

  & > hgroup h1 {
    margin-bottom: 0;
  }

  & > hgroup h2 {
    margin-bottom: 0.5em;
  }
}

#opening-box {
  text-align: left;
  margin-top: -5px;
}

.opening_column {
  width: 48%;

  & > hgroup {
    display: block;
    margin: 3em 0 1em 0;

    & .time {
      margin-left: 1.5em;
      margin-bottom: 0.7em;
    }
  }

  & > section {

    margin-bottom: 1em;

    & > img {
      display: block;
      margin-right: 1.2em;
      margin-bottom: 1em;
    }

    & > a {
      font-size: 0.9em;
    }
  }

}

.opening_bottom {
  width: 27em;
  margin-left: auto; 
  margin-right: auto;

  & > section > ul {
    list-style-type: square;
  }
}

.opening-pic {
  float: left;
  margin: 0 1em 1em 0;
  width: 250px;

  & > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

#opening-pics {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

#main_news > section > a {
  font-size: 90%;

  & + span {
    font-size: 70%;
  }
}
