html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ol, ul {
  margin: 1em; }

/* reset for html5-specific elements */
section, article, aside, header, footer, nav, dialog, figure {
  display: block; }

html, body {
  height: 100%; }

body {
  background: url(/images/bg-4.jpg) fixed center center;
  font-family: helvetica; }

a {
  color: #ff8500;
  font-weight: bolder;
  text-decoration: none; }

header {
  width: 100%;
  height: 117px;
  background: url(/images/bg-header.png) repeat-x;
  margin-bottom: 5.2em; }
  header > section {
    width: 60em;
    margin-left: auto;
    margin-right: auto; }

footer {
  width: 100%;
  margin-top: 2em;
  background-color: #fdfdfd;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75; }
  footer > section {
    width: 46em;
    margin-left: auto;
    margin-right: auto; }
    footer > section > span {
      display: inline-block;
      width: 15em;
      text-align: center;
      vertical-align: middle; }
  footer a {
    color: #ff8500;
    font-size: 0.8em;
    font-weight: lighter; }

#header_logo {
  float: left;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 194px; }

#slogan-image {
  display: block;
  height: 53px;
  width: 455px;
  float: left;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  margin-right: 2em; }
  #slogan-image :after {
    clear: both; }

#menu {
  display: inline-block;
  float: left; }

#menu > a {
  float: left;
  margin: 0 5px;
  height: 35px;
  width: 123px;
  cursor: pointer; }
  #menu > a.menu_education {
    background: url(/images/sprite.png) no-repeat;
    background-position: 0 -280px; }
  #menu > a.menu_research {
    background: url(/images/sprite.png) no-repeat;
    background-position: -124px -280px; }
  #menu > a.menu_entrepreneurship {
    width: 182px;
    background: url(/images/sprite.png) no-repeat;
    background-position: -250px -280px; }
  #menu > a > a {
    visibility: hidden; }

#contact-link {
  display: block;
  float: right;
  width: 88px;
  height: 18px;
  background: url(/images/sprite.png) no-repeat -449px -41px;
  margin-right: .3em; }

#main-wrapper {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100%;
  margin-top: -6px; }

#main-content {
  overflow: auto;
  margin-bottom: 1em; }

.box {
  width: 100%;
  color: #383838;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 1em 0em;
  margin-bottom: 1em;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85; }
  .box > section {
    margin: 0em 1em; }
  .box > section > hgroup {
    text-align: center;
    margin-bottom: 0.5em;
    color: black; }
    .box > section > hgroup a {
      text-decoration: inherit;
      color: inherit; }
    .box > section > hgroup > h1 {
      font-size: 2em;
      margin-bottom: 1.5em; }
    .box > section > hgroup > h2 {
      font-size: 1.5em;
      margin-bottom: 1em; }
    .box > section > hgroup > h3 {
      font-size: 1.0em;
      margin-bottom: 0.5em; }
  .box ul {
    list-style-type: none; }

#left-column {
  display: block;
  float: left;
  width: 35em;
  margin-left: 1em; }
  #left-column > img {
    margin-top: -1em;
    margin-bottom: 1em; }

#right-column {
  float: right;
  width: 20em;
  margin-right: 1em; }

#magazine-list {
  list-style-type: none; }
  #magazine-list > li {
    width: auto;
    padding-right: 50px;
    height: 70px;
    background: url(/images/magazine-cover-1.png) no-repeat top right;
    vertical-align: middle;
    display: table; }
    #magazine-list > li > a {
      font-size: 27px;
      text-decoration: none;
      display: table-cell;
      vertical-align: middle; }

#experiences {
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 5px;
  border: #FF8500 2px dotted; }
  #experiences > section, #experiences li {
    margin-top: 1.5em;
    font-size: 90%; }

article.intro > section {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.3em;
  text-align: justify;
  overflow: auto; }

.intro_person-left {
  float: left;
  margin-top: 0.4em;
  width: 16em;
  text-align: left; }
  .intro_person-left > img {
    margin: 0.2em; }

.intro_person-right {
  float: right;
  margin-top: 0.4em;
  width: 16em;
  text-align: right; }
  .intro_person-right > img {
    margin: 0.2em; }

.dropcap {
  float: left;
  width: .9em;
  font-size: 4em;
  line-height: 83%;
  text-align: center; }

.emphasis {
  font-weight: bolder; }

#entrepreneurship_past-projects-box {
  list-style-type: none; }

.multi-column {
  float: left;
  width: 260px;
  margin: 0 1em; }

.clear {
  clear: both; }

#projects_detail-box {
  width: auto;
  margin: 1em;
  display: none; }

.main_aspects {
  float: left;
  text-align: center;
  margin-bottom: 2.5em; }
  .main_aspects > a {
    font-size: 3em; }

#main_edu-link {
  margin-top: 1em; }

#main_res-link {
  margin-top: 1em;
  float: right; }

#main_ent-link {
  width: 100%;
  text-align: center; }
  #main_ent-link > .main_slogan {
    margin-top: -6px; }

#aspects-box > section > hgroup > h1 {
  margin-bottom: 0em; }
#aspects-box:after {
  clear: both;
  display: block;
  height: 0;
  content: ".";
  visibility: hidden; }

.main_slogan {
  margin-top: -11px;
  font-style: italic; }

article.project-desc > section {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.3em;
  text-align: justify; }
  article.project-desc > section > img {
    margin: 0 0 1em 1em; }

#magazines-box {
  margin-top: -5px;
  min-height: 60em; }
  #magazines-box > section > a > img {
    margin: 0 1em 1em 0; }
  #magazines-box > section > article > ul {
    list-style-type: disc;
    float: right; }
    #magazines-box > section > article > ul > li {
      margin-top: 0.5em;
      font-size: 0.8em;
      width: 32em; }

#contact-box:after {
  clear: both;
  display: block;
  height: 0;
  content: ".";
  visibility: hidden; }
#contact-box > section > form {
  margin-left: auto;
  margin-right: auto;
  width: 35em; }
  #contact-box > section > form > label {
    width: 7em;
    text-align: right;
    float: left; }
  #contact-box > section > form > input, #contact-box > section > form > textarea {
    width: 27em;
    margin-left: 1em;
    float: left;
    margin-bottom: 1em; }
  #contact-box > section > form > textarea {
    width: 30em;
    height: 10em; }
  #contact-box > section > form > input[type="submit"] {
    width: 6em;
    margin-left: 9.5em; }

#education_bubble {
  position: relative;
  top: 0;
  left: 15em; }

#education_research {
  position: relative; }

#entrepreneurship_bubble {
  position: relative;
  left: 35em;
  top: -3.5em; }

#contact_info {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  text-align: center; }

#contact_people {
  width: 52.8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: left; }

.contact_person {
  width: 22em;
  height: 58px;
  float: left;
  font-size: 0.8em;
  margin-bottom: 1em; }
  .contact_person > img {
    margin-right: 0.3em;
    float: left; }

.contact_person-name {
  font-size: 1.2em; }

.error {
  font-weight: bold;
  color: red;
  width: 20em;
  margin: 1em auto 1em auto;
  text-align: center; }

.notice {
  font-weight: bold;
  color: green;
  width: 20em;
  margin: 1em auto 1em auto;
  text-align: center; }

#vision-box {
  margin: 0 1em; }

#vision-pic {
  display: block;
  margin: 0 auto 0 auto; }

#main_vision-box {
  text-align: center; }
  #main_vision-box > img {
    display: block;
    margin: 0 auto 1em auto; }

#main_intro-box > section {
  overflow: auto; }
  #main_intro-box > section > hgroup h1 {
    margin-bottom: 0; }
  #main_intro-box > section > hgroup {
    margin-bottom: 0em; }
    #main_intro-box > section > hgroup > h2 {
      margin-bottom: 0.5em; }

#opening-box {
  text-align: left;
  margin-top: -5px; }

.opening_column {
  width: 48%; }
  .opening_column > hgroup {
    display: block;
    margin: 3em 0 1em 0; }
    .opening_column > hgroup .time {
      margin-left: 1.5em;
      margin-bottom: 0.7em; }
  .opening_column > section {
    margin-bottom: 1em; }
    .opening_column > section > img {
      display: block;
      margin-right: 1.2em;
      margin-bottom: 1em; }
    .opening_column > section > a {
      font-size: 0.9em; }

.opening_bottom {
  width: 27em;
  margin-left: auto;
  margin-right: auto; }
  .opening_bottom > section > ul {
    list-style-type: square; }

.opening-pic {
  float: left;
  margin: 0 1em 1em 0;
  width: 250px; }
  .opening-pic > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

#opening-pics {
  width: 50em;
  margin-left: auto;
  margin-right: auto; }

#main_news > section > a {
  font-size: 90%; }
  #main_news > section > a + span {
    font-size: 70%; }

.slogan {
  z-index: 2;
  font-size: 0.7em; }

#slogan_paper {
  position: absolute;
  top: 27em;
  left: 23.72em; }

#slogan_team {
  position: absolute;
  top: 32.7em;
  left: 2em; }

#slogan_job {
  position: absolute;
  top: 34.2em;
  left: 10em; }

#slogan_proto {
  position: absolute;
  top: 41.5em;
  left: 35.5em;
  text-align: center; }

#slogan_convert {
  position: absolute;
  top: 33.4em;
  left: 30em;
  text-align: center; }
  #slogan_convert > .slogan_ie {
    position: relative;
    top: -0.5em; }

#slogan_practical {
  position: absolute;
  top: 27em;
  left: 36em; }
  #slogan_practical > .slogan_ie {
    position: relative;
    top: -1.3em; }

#slogan_env {
  position: absolute;
  top: 32.2em;
  left: 29.8em; }

#slogan_real {
  position: absolute;
  top: 32.4em;
  left: 13em; }
