html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* reset for html5-specific elements */
section, article, aside, header, footer, nav, dialog, figure {
  display: block; 
}

body {
  background: url(/images/bg-4.jpg) fixed center center;
  font-family: helvetica;
}

a {
  color: #ff8500;
  font-weight: bolder;
  text-decoration: none;
}

header {
  width: 100%;
  height: 117px;
  background: url(/images/bg-header.png) repeat-x;
  margin-bottom: 5.2em;
}

#header_logo {
  float: left;
}

#site-be-opened {
  display: block;
  height: 53px;
  width: 455px;
  float: left;
  position: relative;
  top: 10px;
  margin-bottom: 20px;  
  margin-right: 2em;

  :after {
    clear: both;
  }
}

#menu {
  display: inline-block;
  list-style-type: none;
  float: left;
}

#menu > li {
  float: left;
  margin: 0 5px;
  height: 35px;
  width: 123px;
  cursor: pointer;
  $bg: url(/images/sprite.png) no-repeat;

  &.menu_education {
    background: $bg;
    background-position: 0 -280px;
  }

  &.menu_research {
    background: $bg;
    background-position: -124px -280px;
  }

  &.menu_entrepreneurship {
    width: 182px;
    background: $bg;
    background-position: -250px -280px;
  }

  & > a {
    visibility: hidden;
  }
}

#contact-link {
  display: block;
  float: right;
  width: 88px;
  height: 18px;
  background: url(/images/sprite.png) no-repeat -449px -41px;
  margin-right: .3em;
}

#main-content {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 100%;
  color: #383838;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 1em 0em;
  filter:alpha(opacity=85);
  -moz-opacity:0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;

  & > section{
    margin: 0em 1em;
  }

  & > section > hgroup {
    text-align: center;
    margin-bottom: 0.5em;
    color: black;

    & a {
      text-decoration: inherit;
      color: inherit;
    }

    & > h2 {
      font-size: 1.5em;
    }

    & > h3 {
      font-size: 1.0em;
    }
  }

  & ul {
    list-style-type: none;
  }
}

#left-column {
  margin-top: -6px;
  float: left;
  width: 35em;
  margin-left: 1em;
}

#right-column {
  margin-top: -6px;
  float: right;
  width: 20em;
  margin-right: 1em;
}


#magazine-list {
  list-style-type: none;

  & > li {
    width: auto;
    padding-right: 50px;
    height: 70px;
    background: url(/images/magazine-cover-1.png) no-repeat top right;
    vertical-align: middle;
    display: table;

    & > a {
      font-size: 27px;
      text-decoration: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

article.intro > section {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.3em;
  text-align: justify;

  
}

.dropcap {
  float: left;
  width: .9em;
  font-size: 4em;
  line-height: 83%;
  text-align: center;
}

.emphasis {
  font-weight: bolder;
}

#entrepreneurship_past-projects-box {
  list-style-type: none;
}

.multi-column {
  float: left;
  width: 260px;
  margin: -5px 1em 0 1em;
}

.clear {
  clear: both
}

#projects_detail-box {
  width: auto;
  margin: 1em;
  display: none;
}

.main_aspects {
  float: left; 
  text-align: center;
  margin-bottom: 1em;
  & > a {
    font-size: 3em;
    margin-bottom: 0;
  }
}

#main_res-link {
  float: right;
}

#main_ent-link {
  width: 100%;
  text-align: center;
}

#aspects-box:after {
  clear: both;
  display: block;
  height: 0;
  content: ".";
  visibility: hidden;
}
