%section#left-column
  - box(:id => "main_intro-box") do
    %hgroup
      %h1 What is Software Factory?

    %article.intro
      %section
        %span.emphasis Software Factory
        creates a common, cooperative platform for software business, basic &amp; applied software development research and education. Software Factory is an experimental software R&amp;D laboratory aiming at stimulating 
        %b Education,
        %b Cross-disciplinary research
        and
        %b High-expectation entrepreneurships

    %br

    %hgroup
      %h2 Your gate to success is open
      Please get to know our different aspects

    %br
    %div#slogan_paper.slogan
      write 
      %i the 
      paper

    %div#slogan_team.slogan
      Learn team work
    
    %div#slogan_job.slogan
      Possibility to have a job

    %div#slogan_proto.slogan
      Realize your idea as
      %br
      a working proto
      %b in 7 weeks

    %div#slogan_convert.slogan
      Convert your research results
      %br
      into a business idea

    %div#slogan_practical.slogan
      :erb
        <!--[if IE]><div class="slogan_ie"><![endif]-->
        Practical research
        <!--[if IE]></div><![endif]-->     
    %div#slogan_env.slogan
      %i Unique
      and
      %i authentic
      environment to do research

    %div#slogan_real.slogan 
      Get
      %b real
      world experience

    %section#main_edu-link.main_aspects
      %a{ :href => education_path} Education
      %br 
      %section.main_slogan
        Bringing passion to development
    %section#main_res-link.main_aspects
      %a{ :href => research_path} Research
      %br
      %section.main_slogan
        Have research your way
    %section#main_ent-link.main_aspects
      %a{ :href => entrepreneurship_path} Entrepreneurship
      %br
      %section.main_slogan
        Got a business? You’re in luck

  %br

  - box(:id => "main_news") do
    %hgroup
      %h2 Software Factory Bulletin
      
%section#right-column
  - box do
    %hgroup
      %h3 Ongoing Projects

    - unless @active_projects.empty?
      - @active_projects.each do |p|
        =link_to p.name, "/projects/#{p.key}"
        - if p.description
          \-
          =p.description
        %br
    - else
      Software Factory is having a break...
    %br
    %a{:href => projects_path}
      See upcoming and past projects

  - unless @future_projects.empty?
    %br
    - box do
      %hgroup
        %h3 Next Project

      - fp = @future_projects[0]
      =link_to fp.name, "/projects/#{fp.key}"
      - if fp.description
        \-
        =fp.description
      %br
      =format_date_range(fp.starts_at, fp.ends_at)

  %br

  - box do
    %hgroup
      %h3 Software Factory Opening Day
    Software Factory opened on 4th of March with grand proceedings. 
    %br
    %a{:href => openingday_path} See for yourself!

  %br

  - box(:style_rules => "overflow: auto;") do
    %hgroup
      %h3 Software Factory Magazine

    %section{:style => "float: left; width: 11em;"}
      Read the insight of people involved in Software Factory

    %section{:style => "float: right; width: 6em;"}
      %a{:href => magazines_path}
        = image_tag "magazine-cover-1.png"
        %br
        Vol. 1

    %br.clear
    %section
      The next Software Factory Magazine will be published in fall 2010.

  %br

  / 
    temporarily remove until Matti gets this done
    - box do
      = render :partial => "project_status"


