%article
  %h2 Motivation for research
  %section
    There are dozens of different software development methods. One of the most known is the waterfall model, others include Scum, XP, and the new Kanban method, which is used in Software Factory. Is the work of a software developer dependant of a development method?

  %br
  %section
    The theses examines how the Kanban method impacts the work of a software developer. From the literature the author found nine aspects of work which are changed depending on a development method used. From those aspects a framework was created which was then tested on empirical data collected from a Software Factory project.

  %br
  %h2 Research methodology and data collection
  %section
    The empirical data collection methods were direct observation, video observation, and thematic interviews. The author was present at Software Factory during eight days to make direct and non-participant observations. Hence, video observation was used for one day which included a customer demo. After the Software Factory project was finished, the author interviewed six of the team members using the thematic interview method.

  %br
  %h2 Download master's thesis (in Finnish)
  %section
    =link_to "Kanban-ohjelmistokehitysmenetelmän vaikutuksista arvon muodostukseen ja ohjelmistokehittäjän työhön", "/pdf/ProGradu_Pirinen.pdf"
