%article
  %h2 Thesis description
  %section
    During the past ten years software development industry has faced a major change as different
    agile software development methods have been started to use instead of traditional
    plan-driven methods. One of the characteristics of agile software development
    is that it relies on people and their competence rather than processes.
    For example the teams using Scrum should be self-directed and empowered.
    This refers to the concept of self-organizing teams.

  %br
  %section
    The thesis examines how a self-organizing software development team can be built.
    Based on existing literature a theoretical framework is created to better understand
    what is required in order a software development team to become self-organizing.
    The theoretical framework is then tested with empirical data that was collected in two Software Factory projects.

  %br
  %h2 Research methodology and data collection
  %section
    The two primary data collection methods in the thesis are participant observation and thematic interviews.
    In the first Software Factory project the author was the team leader and that way partipicated in the project full time.
    After the project one customer and six team members were interviewed.

  %br
  %section
    In the second project the author was a team coach with a minor role than in the first project but still
    participating it. After the project the customer and four team members were interviewed.

  %br
  %h2 Download master's thesis
  %section
    %a{:href => "http://www.karhatsu.com/gradu/MSThesis_HenriKarhatsu.pdf", :target => "_blank"} Building a Self-organizing Software Development Team: Multiple Case Study

  %br
  %h2 Contact person
  %a.email{:href => "#", :rel => "henri.karhatsu(replace at)karhatsu.com"} Henri Karhatsu
