%article
  %h2 Project description
  %section
    The project is part of a larger research psychological research project entitled
    %i “Who we are, what we do, and when do we do it. Personality and behavior in context: The big questions revisited ”
    that is funded by the Academy of Finland. The general goal of the research project is to examine basic relations between objective features of a situation, subjective experience of a situation, personality, affect, and behavior. In collaboration with Software Factory initiative, we examine
    %ol
      %li how a person’s behavior affects his or her interaction partner’s behavior;
      %li how personality of each interactant moderates this behavior-behavior relation;
      %li how different social interactions, daily mood, long-term mood, perceptions of co-workers, work stress, work satisfaction and work quality are related;
      %li are people able to accurately assess their behavior retrospectively in terms of dominance and warmth; and
      %li how people perceive their co-workers’ personality at different levels of acquaintance.
  %section
    Software Factory provides an ideal research environment for examining the research questions presented above. The ongoing videotaping enables capturing real-life behavior, as participants are likely to habituate to being videotaped and, to some extent, forget the cameras. Furthermore, participants engage in continual social interaction, both free and formal; both in dyads and in groups. Hence, it is possible to examine the same individuals in many different situations. Other advantages include the possibility to study group behavior, and the possibility to study interaction chains in real-life behavior. In sum, Software Factory offers a highly valuable naturalistic laboratory for personality and social psychology research.

  %br
  %h2 Some current research questions and hypotheses
  %section
  %ol
    %li Does dominant behavior by one interaction partner produce submissive behavior in other interaction partner(s), and vice versa? And does personality moderate this relation?
    %ul
      %li Based on previous research (e.g. Fournier, Moskowitz, & Zuroff, 2008), it is hypothesized that dominant behavior by one person is related to submissive behavior in other(s) and vice versa. However, based on trait approach to personality it is also hypothesized that this relation is moderated by trait extraversion. In particular, it is expected that partner dominance does not produce submissive behavior in high-extraversion individuals and that partner submissiveness does not produce dominant behavior in low-extraversion individuals.
    %li Does warm behavior by one interaction partner produce warm behavior in other interaction partner(s), and does cold behavior by one interaction partner produce cold behavior in other interaction partner(s)? And does personality moderate this relation?
    %ul
      %li Based on previous research (Fournier et al., 2008), it is hypothesized that warm behavior produces warm behavior and cold behavior produces cold behavior. It is also expected that trait agreeableness moderates this relation. In particular, it is expected that warm behavior does not produce warm behavior among disagreeable individuals, and that cold behavior does not produce cold behavior among agreeable individual (Cuperman & Ickes, 2009)
    %li How the subjective and objective nature of, and the number of social interactions, daily mood, long-term mood, work stress, work satisfaction, and work quality are related? Does personality moderate these relations?
    %ul
      %li As these research questions are largely exploratory, no hypotheses are placed.
    %li As compared to online reports and objective data (video recordings), are people able to report accurately their interpersonal behavior retrospectively?
    %ul
      %li Based on previous research concerning self-reports of mood and personality (Robinson & Clore, 2002), it is hypothesized that retrospective reports of behavior would be conflated according to people’s personality traits.
    %li How people’s perceptions of their co-workers personalities change when they spent more time together?
    %ul
      %li It is expected that in peer-reports of personality both accuracy and multi-dimensionality would increase as a function of time spent together.
    %li Which perspective on personality is more accurate, the self-rating view or the peer-rating view?

  %br
  %h2 Research methods
  %ul
    %li Self-reports of personality, work stress, mood, and work satisfaction via questionnaires.
    %li Experience sampling of self-report ratings of social interactions via palmtop computers.
    %li Video observation.

  %br
  %h2 Measures
  %ul
    %li Short 5 personality inventory
    %li Schwartz Value Survey
    %li Interpersonal grid
    %li Positive and Negative Affect Schedule
    %li Interpersonal behavior scale (abridged)
    %li Riverside Situational Q-Sort (abridged)
    %li Siegrist work stress scale (abridged)
    %li Affect circumplex
    %li Video recording system
    %li Sound recording system

  %br
  %h2 References
  %section
    Fournier, M. A., Moskowitz, D. S, & Zuroff, D. C. (2008). Integrating dispositions, signatures, and the interpersonal domain.
    %i Journal of Personality and Social Psychology, 94,
    531-545.
  %br
  %section
    Cuperman, R., & Ickes, W. (2009). Big Five predictors of behavior and perceptions in initial dyadic interactions: Personality similarity helps extraverts and introverts, but hurts “disagreeable”.
    %i Journal of Personality and Social Psychology, 97,
    667-684.
  %br
  %section
    Robinson, M. D., & Clore, G. L. (2002). Belief and feeling: Evidence for an accessibility model in self-report.
    %i Psychological Bulletin, 128,
    934-960.
