%article
  %h2 Project description
  %section
    Application of agile software methods and more recently the integration of Lean practices contribute to the burgeoning trend of continuous improvement in software industry. One area warranting proper empirical evidence is project’s operational efficiency when using the 
    %i Kanban
    method. The Kanban way of organizing product development is one of the latest "fads" with apparent potential to improve the project efficiency.
  %br
  %section
    By following the principles of 
    %i Lean
    thinking, Kanban is expected to be a powerful tool for software development, as it is for Lean manufacturing. The most important principle of Lean thinking is 
    %i eliminating waste
    which serves as the basis for the current research and for a wider context of lean software development.
