- box do
  %hgroup
    %h1 Research in Software Factory

  - @studies.each do |study|
    %section
      =link_to study.title, "/studies/#{study.key}"
      - if study.description
        \-
        =study.description
    %br