- box do
  %hgroup
    %h1
      =@study.title

  - if @study.description
    %i
      =@study.description
    %br
    %br

  %span.emphasis Researcher(s):
  =@study.researchers

  %br
  %span.emphasis Contact:
  =@study.contact_email

  - if @study.research_methods
    %br
    %span.emphasis Research methods:
    =@study.research_methods

  - if @study.projects
    %br
    - count = 0
    %span.emphasis Projects:
    - @study.projects.each do |project|
      ="," if count > 0
      =link_to project.name, "/projects/#{project.key}"
      - count = count + 1

  %br
  
  %hr
  =render :partial => @study.key rescue nil
