- box do
  %section
    A story of going to the Flow Festival:
    %br
    %br
    %i
      "Matti and Mikko two active event-goers went to the Flow Festival 2010 in Helsinki. A week before the event, they checked the event web-page and decided they want to buy 3-day tickets. They signed up on the ticket office web-site and bought tickets. After getting their tickets, they checked out yet at another web-site, HSL Journey Planner, to find out how to get to the event site by bus and how to buy the bus tickets. While anxiously waiting for the event date, Matti and Mikko regularly checked the event web-site for updates and joined in event-related discussion at social networking sites. Finally, the event day arrives and both have a wonderful time, even though they initially had some trouble finding each other at the event site. After the event, Matti wanted to buy a t-shirt from his favorite band and signed up on the band's web-site to place the order. Some hassle this going to events business, Matti thinks, and wonders if there was some service that could make his life easier..."

  %br
  %section
    %b Problem &#8211; Fragmentation of services
    needed in order to achieve all user needs in relation to the event.
    %br
    %b Solution &#8211; Event Experience
    is a new business innovation that utilizes social networks and open APIs. Event Experience Facebook application combines social networks and open APIs to provide a unified event experience.

  %br
  %section
    The transition is illustrated below:
    %br
    = image_tag "projects/eventexperience_concept.jpg"
    %br
    %br
    The new service allows you to package various complementary services to your Facebook event. Event Experience provides event and travel tickets, merchandise, pre-, on-and post event information and social network services, such as voting, chat and grouping. The value proposition of Event Experience is 
    %i> service integration
    \. When buying the Event experience, the user gets access to the following key features:
    %ul{:style => "list-style-type: square"}
      %li Integrated event package
      %li Tickets and merchandise
      %li Pre- on-, and post-event information
      %li Social network services: grouping, voting, chat, information sharing, etc.
      %li Mobile location, messaging, and payment
      %li Browser based Facebook application - accessible by any phone and PC
      %li Concerts, conferences, exhibitions, sport events, private parties, etc.
      %li Enables various business models

  %br
  %section
    Thus, with the Event Experience, the story changes:
    %br
    %br
    %i
      "Matti and Mikko find Flow Festival 2011 Event Experience page on Facebook. They order admittance and bus tickets from the same page, which they receive by SMS. On the event day, Matti and Mikko are heading to the concert well in advance as a rush is expected. Their phones alert, both at the same time. The concert organizer is guiding Matti and Mikko to use Gate B as Gate A is crowded, as they are still far enough to change their route. They got in and found their seats in no time. Now it is time to read the latest comments by other visitors on the event wall and see if any of their friends are located at the concert area. Matti and Mikko are also invited to vote for the encore song of the concert. After the event, Mikko orders a t-shirt through the Event Experience page; he can conveniently pay for the order by mobile."
