- box do
  %section
    Gnobles was the first project in Software Factory. A team with 13 members plus a technical coach started working in January 2010 when the whole concept of Software Factory was very much unclear. Nevertheless, the team was able to perform very well and the spirit in the team was very good.

  %br
  %section
    The main technology in the project was Ruby on Rails. This was a challenge since only a few of the team members were familiar with Rails. For that reason the team spent time in learning the technology first before starting to implement the actual product. During the project the team members also got more familiar with test-driven development (TDD) and later in the project with behavior-driven development (BDD).

  %br
  %section
    The project results were presented for a wide audience in the second last project day, in
    %a{:href => openingday_path} Software Factory opening ceremony
    \. The athmosphere was great and the team was very excited.

  %br
  %section
    The project was very successful also from the research perspective. Two master's thesis were made that used the project as empirical data.

  %br
  %section
    If you are more interested what the work in the project was like, please read the
    =link_to "Guide for Software Factory Teams", guide_path
    that the team leader of the first project wrote.