- box do
  %section
    In Y-factor project there was an entrepreneur with an idea and a team with nine keen people to implement the idea. Some of them had participated in the
    %a{:href => "/projects/gnobles"}previous project
    as well and brought useful experiences from there to this project. For example the core technology, Ruby on Rails, and the development process, Kanban, were used in the previous project. The team had the advantage that they did not need to start everything from scratch.

  %br
  %section
    The major challenge that the team had was to understand what is actually needed. The customer had a vision of what the product was supposed to do but the team needed to figure out what the actual architecture should be like. But as the customer afterwards stated, the team managed in this task very well.

  %br
  %section
    During the seven weeks the team managed to build such a product that the customer had hoped. The product contains several components, and all of them talk with each others without problems. At the end of the project the whole system was installed in the production server and the customer was able to continue his own project from thereafter.