%div{:style => "width: 55em; margin-left: auto; margin-right: auto"}
  - box(:cssClasses => "multi-column") do
    %hgroup
      %h2 Next in the pipeline
    =render :partial => "project_list", :locals => { :projects => @future_projects }
    %a{:href => "http://ilmo.cs.helsinki.fi", :id => "projects_register-link", :target => "_blank"}
      Register

  - box(:cssClasses => "multi-column") do
    %hgroup
      %h2 Ongoing
    =render :partial => "project_list", :locals => { :projects => @active_projects }

  - box(:cssClasses => "multi-column") do 
    %hgroup
      %h2 Past 
    =render :partial => "project_list", :locals => { :projects => @past_projects }
/
  %br.clear

  - box(:id => "projects_detail-box") do
    DOUBLE SUN POWEEEEEEEEEEEEEEEEEEEEEEEEEERRRRRRRRRRRRRRRRRRRRRR

 
  :javascript
    $(document).ready(function(){
      $("section a:not(#projects_register-link)").click(function(event){
        event.preventDefault();
        $("#projects_detail-box").slideDown();
      });
    });
