- box do
  %hgroup
    %h1 Planesweep

  Started: 17th of May, 2010
  %br
  Ends: 2nd of July, 2010

  %br
  %br 

  %article.project-desc
    %hgroup
      %h2 Problem

    %section
      Always when an airplane lands at an airport, it must be cleaned quickly before the next flight. 
      %b Delays are not acceptable.
    %section
      A cleaning company will have lots of cleaners doing airplane cleaning. The cleaners work 24/7 in teams of 4 or more persons. On an airport like Helsinki-Vantaa, there can be some 10-20 cleaning teams working concurrently.
    %section
      The teams are commanded by a coordinator, who is in contact with the teams via radiophone. The coordinator needs to keep track of (1) which planes have been cleaned, (2) which planes must be cleaned next, and (3) where each team is right now

    %br

    %hgroup
      %h2 Business Case

    %section
      The cleaning company must keep track of their work. Using just paper notes produces human errors, and a computer application with poor usability produces high expenses.

    %section
      The cleaning companies around the world are willing to pay for a 
      %i high-quality 
      computer-based solution with 
      %i> excellent usability
      , because it will let the coordinator to do his work more effectively with better decision-making and avoid delaying the flights

    %hgroup 
      %h2 Solution
    %section
      PlaneSweep is a product for the above mentioned use case. It helps the coordinator to keep track of what the teams are doing, and produces reports of the completed work.

    %section
      The product was developed by 
      %a{:href => "http://www.advoca.fi"} Advoca Group Oy
      and has served since 2003, but is now being re-designed in order to smoothly integrate flight schedules into the system, to further improve its usability. The new UI is about 70% designed, but its implementation has not yet been started. Also its architecture will be renewed.

    %section
      For students this project will have 
      %i> multiple interesting challenges
      \: working in a real-life project, implementing a highly complex web UI, building a domain model (Domain-Driven Design), building infrastructure for database refactoring etc.
