- box do
  %hgroup
    %h1
      =@project.name

  %i
    - if @project.description
      =@project.description
    - else
      Project description available later.
    %br
    %br

  %span.emphasis Time:
  =format_date(@project.starts_at)
  \-
  =format_date(@project.ends_at)
  %br
  %span.emphasis Technologies / tools / methods:
  - if @project.technologies
    =@project.technologies
  - else
    To be announced.

  %br
  
  %hr
  =render :partial => @project.key rescue nil