
%section#left-column
  - box do 
    %hgroup
      %h2 The real smell of education

    %article.intro
      %section
        %span.emphasis Education 
        strives to integrate its operations in the teaching of several universities offering a wide-range of real-life data and material for university teachers’ use. The global development space makes the learning experience for students something unreachable in typical university settings. 

      %section
        %span.emphasis In 
        addition to this, the real-life development environment and requirements give the students an opportunity for significant learning gains as opposed to traditional software development projects. 

      %section
        %span.emphasis Education 
        in Software Factory is lead by Dr. Jaakko Kurhila and Dr. Juha Taina from University of Helsinki.
  = image_tag "bubble-education.png", :id => "education_bubble"
%section#right-column
  - box do 
    %hgroup
      %h3 How to get in?

    To be part of the unique Software Factory Experience, 
    %a{:href => "https://ilmo.cs.helsinki.fi/ilmo/Yk?kk=582659&lk=V&lv=2010&tp=K&knro=1&kieli=S&toiminta=Luentokurssit", :target => "_blank"}
      register from here

  %br

  - box do
    %hgroup
      %h3
        What is it like to work in Factory?

    Want to know the day-to-day?
    %br
    %a{:href => "/pdf/SF_guide.pdf"}
      Read the Software Factory Guide for teams

