
%section#left-column
  - box do 
    %hgroup
      %h2 Bringing passion to development

    %article.intro
      %section
        !=tf('education.text')

      %section
        %span.emphasis Education 
        in Software Factory is lead by 
        %br
        %section{:class => "intro_person-left"}
          = image_tag "contact/jaakko.png", :align => "left"
          %a{:mailto => "jaakko.kurhila@cs.helsinki.fi"}Dr. Jaakko Kurhila
          from University of Helsinki

        %section{:class => "intro_person-right"}
          = image_tag "contact/juha.png", :align => "right"
          %a{:mailto => "juha.taina@cs.helsinki.fi"}Dr. Juha Taina 
          from University of Helsinki

  = image_tag "bubble-education.png", :id => "education_bubble"
%section#right-column
  - box do 
    %hgroup
      %h3 How to get in?

    To be part of the unique Software Factory Experience, 
    %a{:href => "https://ilmo.cs.helsinki.fi/ilmo/Yk?kk=582659&lk=V&lv=2010&tp=K&knro=1&kieli=S&toiminta=Luentokurssit", :target => "_blank"}
      register from here

  %br

  - box do
    %hgroup
      %h3
        What is it like to work in Factory?

    Want to know the day-to-day?
    %br
    %a{:href => guide_path}
      Read the Software Factory Guide for teams

