
%section#left-column
  - box do 
    %hgroup
      %h2 Education - Bringing Passion to Development

    %article.intro
      %section
        Software Factory projects combine the best advantages of both business and education. Work environment is very close to real work life but on the other hand in Software Factory projects:
        %ul
          %li You can use the latest methods, tools, and languages. No need to work with systems created ten years ago with the methods fifteen years old.
          %li You are free to experiment new things. No need to do the same thing every day.
          %li You can have a great influence how things are done. No need to listen what the boss is saying.

      %hgroup
        %h2 Course information

      %section
        Software Factory projects are courses that last one period (seven weeks). Courses are organized in the Department of Computer Science, in University of Helsinki five times a year. You can get 10 or 12 credits depending how much you want to work. By working four days a week and six hours a day, you get 10 credits. With five days you get 12. However, taking a Software Factory course does not mean that you cannot have any other courses at the same time. The work hours are flexible, the team decides when you should be present.

      %hgroup
        %h2 Working opportunities

      %section
        Software Factory provides also with a working opportunity for the students. The projects are always real business cases with a company behind them. If you are good, the company has a motivation to hire you.

      %hgroup
        %h2 Research opportunities

      %section
        Wondering how to do your master's or bachelor's thesis, or maybe a seminar paper? Software Factory provides a unique setup for doing research. No matter whether you are interested in software development methods, testing, web frameworks, or something else, you can get great empirical material from Software Factory. Read more from
        =link_to("Research section", research_path)
        \.

      %hgroup
        %h2 I did not get it...

      %section
        If something is still bothering you, please send a question with the
        =link_to("contact form", contact_path)
        \.

      %hr

      %section
        %span.emphasis Education 
        in Software Factory is lead by 
        %br
        %section{:class => "intro_person-left"}
          = image_tag "contact/jaakko.png", :align => "left"
          %a{:mailto => "jaakko.kurhila@cs.helsinki.fi"}Dr. Jaakko Kurhila
          from University of Helsinki

        %section{:class => "intro_person-right"}
          = image_tag "contact/fabian.png", :align => "right"
          %a{:mailto => "fabian.fagerholm@cs.helsinki.fi"}Fabian Fagerholm
          from University of Helsinki

  = image_tag "bubble-education.png", :id => "education_bubble"
%section#right-column
  - box do 
    %hgroup
      %h3 How to get in?

    Software Factory projects are organized as courses in the Department of Computer Science, in University of Helsinki. If you are a student of the university, register with
    %a{:href => "https://ilmo.cs.helsinki.fi/ilmo/Yk?kk=582659&lk=V&lv=2010&tp=K&knro=1&kieli=S&toiminta=Luentokurssit", :target => "_blank"}
      Ilmo
    \. Otherwise please use the
    =link_to("contact form", contact_path)
    \.

  %br

  - box do
    %hgroup
      %h3
        What is it like to work in Factory?

    %a{:href => guide_path}
      Guide for Software Factory Teams - Experiences from the First Project (.pdf)

  %br

  - box do
    %hgroup
      %h3
        Student testimonials

    %section
      "Software Factory project was the best course I have ever had. Including my whole history of education." -
      %i Tatu Kairi, University of Helsinki

    %br
    %section
      "Software Factory is an excellent way to learn software industry practices in a safe working environment. The intensity of the course was very close to work life but working in Software Factory did not feel like work. I definitely recommend Software Factory for everyone who wants to participate in courses, which give you more than just the basics." -
      %i Niko H&auml;m&auml;l&auml;inen, Helsinki Metropolia University of Applied Sciences