%section#left-column
  - box do
    %hgroup
      %h2 Entrepreneurship - Got a Business Idea? You’re in Luck!

    %article.intro
      %section
        There is always a need for good business ideas but especially there is a need to transform the good ideas into real business. If you have an idea, Software Factory can help you. In a Software Factory project the team is dedicated to transform your idea into working software. There is no quarantee how much you will get but the team is making its best during the seven weeks. The results show that even in such a short period of time great results can be achieved. For enterpreneurs there are no direct costs associated to the projects.

      %hgroup
        %h2 I am not a business person, I just have an idea

      %section
        If you just have an idea but no existing business, Software Factory is the place that can provide with the initial steps. Without expensive startup phase you can build with the team a working proto of your product that you can present for pontential investors later on and develop it further.

      %hgroup
        %h2 Do I get something else than the software?

      %section
        Software Factory uses the latest methods and techniques in the industry. As a customer you can join the team and work with them, and that way learn the the methods and techniques yourself. When your business starts running, you will have a good insight how software can be built in a team. And even if you are an experienced person in software business, Software Factory might give you excellent new thoughts.

      %hgroup
        %h2 Recruiting possibilities

      %section
        Your business needs implementors. During the seven weeks project you get familiar with software developers that you might hire after the project. Remember that you don't have to teach the product for them as they have built it.

      %hgroup
        %h2 Yes, I have an idea...

      %section
        So you already have something in your mind?
        %a{:href => contact_path}Please contact
        us so that we can discuss more and see if Software Factory would be a good place for your idea.

      %hr

      %section
        %span.emphasis Entrepreneurship 
        in Software Factory is lead by
        %br
        %section{:class => "intro_person-left"} 
          = image_tag "contact/jussi.png", :align => "left"
          !=email_link("jussi@autere.com", "Jussi Autere")
          from Gearshift Group

  = image_tag "bubble-entrepreneur.png", :id => "entrepreneurship_bubble"

%section#right-column
  - box do
    %hgroup
      %h3 How to start transforming my idea into software?
    New Google? Twitter for the next generation? Heading to Silicon Valley?
    %a{:href => contact_path} Contact us here!

  %br

  - box do
    %hgroup
      %h3 What kind of projects has been done previously?

    %section
      =link_to "See the projects page", projects_path
