%section#left-column
  - box do
    %hgroup
      %h2 Got a business? You’re in luck

    %article.intro
      %section
        %span.emphasis> Finland
        , Europe and the world needs software entrepreneurs to make business out of software applications developed.  
      %section
        %span.emphasis Each 
        of the Software Factory’s development initiative strives to develop a business-prototype for an alpha-test phase when released. The business development cycle lasts for a single Software Factory operational cycle, which is 7 weeks. After the business prototype cycle is finished, the team goes into a process supported by our collaborators in which the aim is to launch a high-expectation entrepreneurship. This includes the procedures for setting up a company, seeking for a funding as well as other means for business development support. 
      %section
        %span.emphasis Entrepreneurship 
        in Software Factory is lead by Dr. Jussi Autere from Gearshift Group and Kristo Ovaska from Aalto University.

%section#right-column
  - box do
    %hgroup
      %h3 How to start?

    %a{:href => contact_path} Contact us here!

  %br

  - box do
    %hgroup
      %h3 What has been done?

    %ul#entrepreneurship_past-projects-box
      %li
        %a{:href => "#"} Gnobles
      %li
        %a{:href => "#"} Y-factor
