%section#left-column
  - box(:id => "aspects-box") do
    %hgroup
      %h1 Your gate to success is open
      Please get to know our different aspects

    %br

    %section#main_edu-link.main_aspects
      %a{ :href => education_path} Education
      %br 
      %section.main_slogan
        Bringing passion to development
    %section#main_res-link.main_aspects
      %a{ :href => research_path} Research
      %br
      %section.main_slogan
        Have research your way
    %section#main_ent-link.main_aspects
      %a{ :href => entrepreneurship_path} Entrepreneurship
      %br
      %section.main_slogan
        Got a business? You’re in luck


%section#right-column
  - box do
    %hgroup
      %h3 What's going on?
    Start your journey into the Software Factory, 
    %a{:href => sneak_peek_path} Take a sneak peek inside!

  %br

  - box do
    %hgroup
      %h3 Magazine

    Read the insight of people involved in Software Factory
    %br
    %br    
    %ul#magazine-list
      %li
        %a{:href => magazines_path}
          Vol. 1
  %br

  - box do
    %hgroup
      %h3 Ongoing project
    %a{:href => projects_planesweep_path} Planesweep
    is a project where 12 students are building innovative coordination system to be used on airports
    
    %br
    %br
    %a{:href => projects_path}
      See old projects

  %br
  /
    - box do
      %hgroup
        %h3 Next project
      
      %br
      %a{:href => "#"}
        Read more

  %br


