%section#left-column
  - box(:id => "aspects-box") do
    %section#main_edu-link.main_aspects
      %a{ :href => education_path} Education
      %br 
      The real smell of education
    %section#main_res-link.main_aspects
      %a{ :href => research_path} Research
      %br
      Have research your way
    %section#main_ent-link.main_aspects
      %a{ :href => entrepreneurship_path} Entrepreneurship
      %br
      Got a business? You’re in luck


%section#right-column
  - box do
    %hgroup
      %h3 What's going on?
    %a{:href => sneak_peek_path} Take a sneak peek inside!

  %br

  - box do
    %hgroup
      %h3 Magazine

    %ul#magazine-list
      %li
        %a{:href => "/pdf/magazin1.pdf"}
          Vol. 1
  %br

  - box do
    %hgroup
      %h3 Ongoing project
    %a{:href => projects_planesweep_path} Planesweep
    
    %br
    %br
    %a{:href => projects_path}
      See old projects

  %br
  /
    - box do
      %hgroup
        %h3 Next project
      
      %br
      %a{:href => "#"}
        Read more

  %br


