%section#left-column
  - box(:id => "aspects-box") do
    %section#main_edu-link.main_aspects
      %a{ :href => education_path} Education
      %br 
      The real smell of education
    %section#main_res-link.main_aspects
      %a{ :href => research_path} Research
      %br
      Have research your way
    %section#main_ent-link.main_aspects
      %a{ :href => entrepreneurship_path} Entrepreneurship
      %br
      Got a business? You’re in luck


    /
      = image_tag "main-3aspects.png", :usemap => "#aspects-map"
      %map{:name => "aspects-map", :id => "aspects-map"}
        %area{:shape => "rect", :coords => "0,0,260,244", :href => education_path, :title => "Education" }
        %area{:shape => "rect", :coords => "260,0,549,244", :href => research_path, :title => "Research"}
        %area{:shape => "rect", :coords => "0,260,549,461", :href => entrepreneurship_path, :title => "Entrepreneurship"}

%section#right-column
  - box do
    %hgroup
      %h3 What's going on?
    %a{:href => sneak_peek_path} Take a sneak peek inside!

  %br

  - box do
    %hgroup
      %h3 Magazine

    %ul#magazine-list
      %li
        %a{:href => "/pdf/magazin1.pdf"}
          Vol. 1
  %br

  - box do
    %hgroup
      %h3 Ongoing project
    
    %br
    %a{:href => "#"}
      See old projects

  %br
  /
    - box do
      %hgroup
        %h3 Next project
      
      %br
      %a{:href => "#"}
        Read more

  %br


