- box(:id => "magazines-box") do
  %hgroup
    %h1 Software Factory Magazine

  %a{:href => "/pdf/magazin1.pdf"}
    Download Software Factory Magazine, Vol. 1
    %br
    = image_tag "magazine-cover-1-big.png", :align => "left"

  %article
    In the Very First Edition, Software Factory Magazine provides you articles from all around Software Factory:

    %ul
      %li Fabian Fagerholm - Editorial
      %li Pekka Abrahamsson - Unique infrastucture investment: Introducing the Software Factory 
      %li Esko Kilpi - Inside view: What business can learn from the Web
      %li Petri Kettunen - Software Factory fosters next-generation software production and business
      %li Jaakko Kurhila - Educational perspectives in Software Factory
      %li Petri Kettunen - Software Factory research helps in factoring high-performance software enterprises (even at large scale)
      %li Marko Ikonen - Discovering sources of waste in software development
      %li Juha Taina - Good software is also green! Calculating the Software Factory's carbon footprint
      %li Timo Jokela - Defining user experience requirements - how superior is good enough?
      %li Pietu Pohjalainen - Re-discovering modeling in software design: the bottom-up approach
      %li Pekka Tonteri - Software Factory's technical infrastructure is state-of-the-art
      %li Fabian Fagerholm - Psychometric measurements in software development
      %li Petteri Alahuhta - In the Factory pipeline: Mobilizing China
      %li Henri Karhatsu - Software Factory in Action: Experiences from the trenches
      %li Abhishek Tripathi - In the Factory pipeline: Mashing up the news your way!
      %li ...and many more!
