%section#left-column
  - box do
    %hgroup
      %h2 Have research your way

    %article.intro

      %section
        %span.emphasis Software 
        Factory's research trains effectively PhD students, performs basic and applied research in its operating context and performs tests for evaluating different research methods. Software factory provides a context for PhD students as well as Master’s students to pursue their thinking further and challenge the common wisdom. 

      %section
        %span.emphasis The 
        Software Factory is designed for allowing a multitude of different ways to collect data unseen before. Cross-disciplinary research is part of the field of software engineering. Therefore the factory has an open call for research proposals to investigate team dynamics, programming psychology and beyond to fully make use of the opportunity at hand. Software Factory’s research is built upon highest ethical rules and each research endeavor shall follow the Factory’s research protocol as well as the outlined research design. 

      %section
        %span.emphasis Research 
        in Software Factory is lead by prof. Pekka Abrahamsson from the Department of Computer Science in University of Helsinki.  


%section#right-column
  
  - box do
    %hgroup
      %h3 How to start?

    %a{:href => contact_path}
      Tell us what you want to do by clicking here

  %br

  - box do 
    %hgroup
      %h3 What research has been done?

    %a{:href => "#"} Read here
