%section#left-column
  - box do
    %hgroup
      %h2 Research - Have Research Your Way

    %article.intro

      %section
        A typical problem with software engineering research is that either it is difficult to find companies that provide reasonable research possibilities or the research is made with students in artifical environments. Software Factory provides a solution for this problem. In Software Factory you can do research in a very authentic environment. Most of the participants in Software Factory projects are students but the environment is very business-like:

        %ul
          %li The team works constantly together just like in a real work place.
          %li There is always a real business demand behind the project, which makes the project context valid for research.
          %li At the same time the researchers can observe the team members anytime and even participate the projects if participant observation is considered useful.

      %hgroup
        %h2 Methods, practices, tools

      %section
        %ul
          %li Cameras and microphones record in the Factory room all the time, and researchers are able to look and listen afterwards what has happened.
          %li Researchers can bring their own research equipment (e.g. palms or tablets that the team members use).
          %li Researchers can ask participants to answer questionnaires (paper or web) during the project.
          %li All the written material (e.g. code and documentation) provided by the team is available for the research purposes.
          %li Researchers can come to the Factory room and do direct observation.
          %li Researchers can also take part in the projects and do participant observation.
          %li Researchers can interview team members and customers after the projects.

      %hgroup
        %h2 Not just for computer scientists

      %section
        Software Factory is not a research laboratory only for computer scientists. A Factory project provides plenty of interesting research material for scientists from other fields as well. An example is the sociological research made by the researchers from the Department of Behavioral Science in University of Helsinki.

      %hgroup
        %h2 Research by master level students

      %section
        Also the master level students can make research in Software Factory. If you are doing for example your master's thesis, all the methods that are available for other researchers are available for you as well. Two examples of master level student research are the two master's thesis written during the spring 2010. The subject of the other thesis was related to Kanban, value, and work processes and the other thesis was about self-organizing software development teams.

      %hgroup
        %h2 Sounds interesting, how can I start?

      %section
        If you think that Software Factory is an excellent place for you to make research or if you still wonder something, please
        =link_to("contact us", contact_path)
        \. We will get the things moving and help you with your research.

      %hr

      %section
        %span.emphasis Research 
        in Software Factory is lead by 
        %br
        %section{:class => "intro_person-left", :style => "width: 20em;"}
          = image_tag "contact/pekka.png", :align => "left"
          %a.email{:href => "#", :rel => "pekka.abrahamsson(replace at)cs.helsinki.fi"} prof. Pekka Abrahamsson 
          from the Department of Computer Science in University of Helsinki.  

  = image_tag "bubble-research.png", :id => "research_bubble"

%section#right-column
  
  - box do
    %hgroup
      %h3 How to start making research in Software Factory?

    Please
    %a{:href => contact_path}
      contact us
    and tell us what kind of research you would like to do. We will get back to you as soon as possible.

  %br
  - box do
    %hgroup
      %h3
        Research made in Software Factory

    %section
      =link_to "See what kind of research has been made in Software Factory.", studies_path

  %br
  - box do
    %hgroup
      %h3
        Research testimonials

    %section
      "Software Factory provides an ideal research environment for examining the research questions
      =link_to "presented above", "/studies/psycho"
      \. The ongoing videotaping enables capturing real-life behavior, as participants are likely to habituate to being videotaped and, to some extent, forget the cameras. - - Other advantages include the possibility to study group behavior, and the possibility to study interaction chains in real-life behavior. In sum, Software Factory offers a highly valuable naturalistic laboratory for personality and social psychology research." -
      %i Sointu Leikas, Department of Psychology, University of Helsinki

    %br
    %section
      "Software Factory gave me an excellent possibility to collect empirical data for my
      =link_to "master's thesis", "/studies/gradu_henri"
      \. It would have been much more difficult to do the same in industrial projects. And still Software Factory provided with a realistic environment to study software development teams." -
      %i Henri Karhatsu, Department of Computer Science, University of Helsinki
