- box do
  %hgroup
    %h1 Peek inside Software Factory
  
  - box(:style_rules => "width: 850px; margin-left: auto; margin-right: auto; color: white; background-color: #ff8500; filter:alpha(opacity=100); -moz-opacity:1.0; -khtml-opacity: 1.0; opacity: 1.0;") do
    = image_tag "sneak_peek/inside.jpg", :style => "display: block; display: block; width: 800px; margin-left: auto; margin-right: auto;"
    %br
    %b State of the art tools and facilities

  %br

  - box(:style_rules => "width: 850px; margin-left: auto; margin-right: auto; color: white; background-color: #ff8500; opacity: 1.0; filter:alpha(opacity=100); -moz-opacity: 1.0; -khtml-opacity: 1.0; ") do
    = image_tag "sneak_peek/carnival.jpg", :style => "display: block; display: block; width: 800px; margin-left: auto; margin-right: auto;"
    %br
    %b Software Factory makes software a carnival!

  %br

 
