- box(:id => "vision-box") do
  %hgroup
    %h1 Software Factory as a Reference Model

  %article.intro
    %section
      %span.emphasis University 
      of Helsinki model is a reference implementation of the Software Factory concept. Model is published including all specifications (technical and other) and costs.
    %section
      %span.emphasis A guide 
      to SF operational model, development and management will be published by end of 2010 as a book. (a.k.a 
      %i Rough Guide To Software Factory
      ). 6 Software Factories will be built in Finland and 693 outside during the years of 2010-2013. Software Factory will be by far the largest joint educational and research platform globally dedicated to software development, management and coordination. An international advisory board is under development including leading software scientists and practitioners globally. To accommodate all this, Software Factory Conference will be launched in 2011.
    %section
      %span.emphasis Software Factory Magazine 
      is turned into an open access magazine. It will be developed independetly from the Software Factory itself. Magazine will have free subscription model (advertisements, sponsors and support fellows) and will be delivered on print and electronically with 50000 subscriptions by end 2012.
    %section
      = image_tag "vision.png", :id => "vision-pic"
