%section#full-width
  - box(:id => "main_intro-box") do
    %hgroup
      %h1 Manage Texts

    %article.intro
      %section
        %table
          %tr
            %th Key
            %th Text
          - @text_fragments.each do |t|
            %tr
              %td #{t.key}
              %td
                =link_to truncate(t.value, :length => 100), edit_admin_text_fragment_path(t)
