%section#full-width
  - box(:id => "main_intro-box") do
    %hgroup
      %h1 Manage Texts

    %article.intro
      %section
        = link_to "New text", new_admin_text_fragment_path
        %br
        %table
          %tr
            %th Key
            %th Text
          - @text_fragments.each do |t|
            %tr
              %td
                =link_to t.key, edit_admin_text_fragment_path(t)
              %td #{t.value}
