!!!
%html
  %head
    %title Software Factory
    = javascript_include_tag "jquery-1.4.1.min.js"
    :javascript
      $(document).ready(function(){
        $("#menu > li").click(function(){
          window.location.href = $(this).children("a").attr("href");
        });
      });
    = stylesheet_link_tag "style"
  %body
    %header
      %section
        %a#header_logo{:href => root_path}
          = image_tag "logo.png"

        %nav#menu
          %li.menu_education
            %a{:href => education_path}
          %li.menu_research
            %a{:href => research_path}
          %li.menu_entrepreneurship
            %a{:href => entrepreneurship_path}
        

        %a{:href => contact_path, :id => "contact-link"}

    %section#main-content
      = yield
